@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white: #ffffff;
    --background: #E1E1E1;
    --black: #111112;
    --text: #111112;
    --input: #ffffff;
    --card: #ffffff;
    --muted: #989596;
    --divider: #E1E1E1;
    --primary-100: #FAEBE9;
    --primary-200: #F4DAD7;
    --primary-300: #EBBCB6;
    --primary-400: #DF938D;
    --primary-500: #D06863;
    --primary-600: #B14141;
    --primary-700: #9C3437;
    --primary-800: #832E33;
    --primary-900: #712A30;
    --primary-1000: #3E1316;
    --primary-foreground: #FCF6E6;
    --secondary-100: #E0EFF9;
    --secondary-200: #C1DEF3;
    --secondary-300: #A2CEED;
    --secondary-400: #83BDE8;
    --secondary-500: #288CD4;
    --secondary-600: #459DDC;
    --secondary-700: #2277B4;
    --secondary-800: #1C6294;
    --secondary-900: #164D75;
    --secondary-1000: #103855;
    --secondary-foreground: #F2F8FD;
    --neutral-50: ##EFEEEE;
    --neutral-100: #E1E1E1;
    --neutral-200: #C9C8C8;
    --neutral-300: #B0AFAF;
    --neutral-400: #989596;
    --neutral-500: #817C7D;
    --neutral-600: #696566;
    --neutral-700: #524E4F;
    --neutral-800: #3D393B;
    --neutral-900: #2D2A2D;
    --neutral-1000: #272629;
    --success-100: #C4EBD4;
    --success-200: #8AD8A8;
    --success-300: #309056;
    --warning-100: #FFE0AF;
    --warning-200: #FFA20D;
    --warning-300: #BB7300;
    --error-100: #F4B3B6;
    --error-200: #EA676D;
    --error-300: #DC1F28;
  }

  .dark:root {
    --white: #111112;
    --black: #ffffff;
    --text: #ffffff;
    --input: #3D393B;
    --background: #000;
    --card: #272629;
    --muted: #817C7D;
    --divider: #424040;
    --primary-1000: #FAEBE9;
    --primary-900: #F4DAD7;
    --primary-800: #EBBCB6;
    --primary-700: #DF938D;
    --primary-600: #D06863;
    --primary-500: #B14141;
    --primary-400: #9C3437;
    --primary-300: #832E33;
    --primary-200: #712A30;
    --primary-100: #3E1316;
    --primary-foreground: #660711;
    --secondary-1000: #E0EFF9;
    --secondary-900: #C2DEF5;
    --secondary-800: #8CC4ED;
    --secondary-700: #4EA4E2;
    --secondary-600: #288CD4;
    --secondary-500: #196DB0;
    --secondary-400: #15578F;
    --secondary-300: #164B76;
    --secondary-200: #173F63;
    --secondary-100: #0F2842;
    --secondary-foreground: #00344F;
    --neutral-50: #161616;
    --neutral-1000: #E1E1E1;
    --neutral-900: #C9C8C8;
    --neutral-800: #B0AFAF;
    --neutral-700: #989596;
    --neutral-600: #817C7D;
    --neutral-500: #696566;
    --neutral-400: #524E4F;
    --neutral-300: #3D393B;
    --neutral-200: #2D2A2D;
    --neutral-100: #272629;
    --success-100: #C4EBD4;
    --success-200: #8AD8A8;
    --success-300: #309056;
    --warning-100: #FFE0AF;
    --warning-200: #FFA20D;
    --warning-300: #BB7300;
  }
}